/* main styles */
html,
body {
	background-color: #070707;
}

/* header */
.main-header {
	list-style-type: none;
}
.header-content {
	position: relative;
	z-index: 2;
	max-width: 1280px;
	margin: auto;
	padding: 0px 10px;
	display: flex;
	justify-content: space-between;
	height: 98px;
	align-items: center;
}

.a-logo {
}
.header-logo {
	flex: 0 0 308px;
}
.header-logo img {
	max-width: 100%;
}
.header-burger {
}
.header-menu {
	margin-right: 30px;
	justify-content: center;
}
.buger-list {
	justify-content: center;
	align-items: center;
	display: flex;
}
.buger-list li {
	list-style: none;
	margin-left: 30px;
}
.header_link {
	line-height: 20px;
	font-family: "Montserrat", sans-serif;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
.btn {
	font-weight: 700;
	font-size: 20px;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 159px;
	height: 58px;

	border: 1px solid #fff; 
	border-radius: 20px; 
	text-decoration: none; 
}
